[submodule "src/main/resources/mcdrama"]
	path = src/main/resources/mcdrama
	url = https://github.com/Gaelan/MCDrama.git
[submodule "src/main/resources/src/main/resources"]
	path = src/main/resources/src/main/resources
	url = https://github.com/4hrue2kd83f/MCDrama.git
