[submodule "src/main/resources/mcdrama"]
	path = src/main/resources/mcdrama
	url = https://github.com/Gaelan/MCDrama.git
[submodule "src/main/resources/modname"]
	path = src/main/resources/modname
	url = https://github.com/4hrue2kd83f/MCDrama.git
